<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Thank you!</h1>
  <h2>We will call you as soon as it is your turn.</h2>
  <h4>For any questions, please call (123) 123 1234</h4>
  <a href="/">Go Home!</a>
</body>

</html>